<%= render partial: "cabecera/cabecera" %>
        <div id="sidebar-wrapper">
            
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/dashboard/index">
                        Reportes de Tiempo
                    </a>
                </li>
                <li>
                    <a href="/perfil_consultoras">Mi Perfil</a>
                </li>
                <li>
                    <a href="/dashboard/">Dashboard</a>
                </li>
                <li>
                    <a href="/clientes/">Mis Clientes</a>
                </li>
                <li>
                    <a href="/proyectos/">Mis Proyectos</a>
                </li>
                <li>
                    <a href="/consultores">Mis Consultores</a>
                </li>
                 <li>
                    <a href="/acceso">Mis Invitados</a>
                </li>
                
                
            </ul>
     </div>
